/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --filter-border-color: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: auto;
    padding: 6px 50px 0;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0 0 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 300;
}

.neutral-star {
    color: var(--main-bg-color);
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: normal;
}

h5 {
    font-size: 14px;
}

/****** Header ***********/
.header-logo-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo-navbar img {
    margin-top: 20px;
}

.top-navbar a {
    margin: 0 20px;
    padding: 8px 0;
    text-decoration: none;
    font-size: 12px;
    border-top: transparent solid 2px;
    border-bottom: transparent solid 2px;
}

.top-navbar a:hover {
    color: var(--main-color);
    border-top: var(--main-color) solid 2px;
    border-bottom: transparent solid 2px;
}

.header-text {
    margin: 40px 0 30px 0;
}

/****** search-bar ***********/
.search-bar {
    display: flex;
    flex-direction: row;
    height: 48px;
    margin-bottom: 30px;
}

.location-icon {
    width: 48px;
    border-radius: 14px 0 0 14px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input[type="text"] {
    font-weight: bold;
    border-left: 0;
    border-top: 1px solid var(--main-bg-color);
    border-right: 0;
    border-bottom: 1px solid var(--main-bg-color);
    text-align: left;
    padding-left: 10px;
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: black;
}

.search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 0 14px 14px 0;
    border-left: 0;
    border-top: 1px solid var(--main-bg-color);
    border-right: 0;
    border-bottom: 1px solid var(--main-bg-color);
    text-align: center;
    padding: 0 20px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: var(--filter-bg-color);
    color: black;
}

/****** Filter Bar ***********/
.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.filter-text {
    margin-right: 15px;
}

.filter-bar-labels {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-bar-sublabels {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-bar-labels {
    display: flex;
    flex-direction: row;
}

.filter-label {
    border: 2px solid var(--filter-border-color);
    border-radius: 32px;
    padding: 12px 20px;
    text-wrap: nowrap;
    cursor: pointer;
}

.filter-label i {
    margin-right: 8px;
}

.filter-label:hover {
    background-color: var(--filter-bg-color);
}

.filter-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.filter-result-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--filter-bg-color);
    border-radius: 18px;
    width: 18px;
    height: 18px;
    margin-right:10px;
}

.filter-result h3 {
    margin-left: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}

.hebergements-cards a {
    width: 31%;
}

.hebergements-cards .card img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0 0 4px 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.display-more {
    font-weight: bold;
    font-size: 18px;
}

.display-more:hover {
    color: var(--main-color);
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
    margin-top: 20px;
    padding: 30px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.activites-cards .card-title {
    margin: 0 0 0 16px;
    height: 50px;
    display: flex;
    align-items: center;
}

.activites-cards .card {
    padding: 0;
}

.activites-cards .card img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards a {
    width: 100%;
}

/****** Footer ***********/
footer {
    background-color: var(--main-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-column {
    width: 33%;
}

footer ul {
    padding: 0;
    list-style-type: none;
}

footer li {
    margin: 10px 0;
    font-size: 16px;
}

footer a:hover {
    color: var(--main-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media screen and (min-width: 768px) {
    /*SEARCH BAR*/
    .search-bar button i {
        display: none;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /*FILTER BAR*/
    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-text {
        margin-bottom: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 30px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /*GENERAL*/
    body {
        padding: 0;
        margin: 0;
    }

    /*HEADER*/
    .header-logo-navbar {
        flex-direction: column;
        gap: 10px;
    }

    .header-text {
        margin: 20px;
    }

    .top-navbar {
        width: 100%;
    }

    .top-navbar a {
        float: left;
        width: 50%;
        text-align: center;
        margin: 0;
    }

    .top-navbar a:hover {
        border-top: transparent solid 2px;
        border-bottom: var(--main-color) solid 2px;
    }

    /*SEARCH BAR*/
    .search-bar {
        margin: 0 20px 30px;
    }

    .search-bar input[type="text"] {
        flex-grow: 2;
    }

    .search-bar button div {
        display: none;
    }

    /*FILTER BAR*/
    .filter-bar {
        margin: 0px 20px 30px;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-bar-labels {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
    }

    .filter-label {
        width: 50%;
    }

    .filter-text {
        margin-bottom: 10px;
    }

    .filter-result {
        margin-left: 20px;
    }

    /*HEBERGEMENTS AND POPULAIRES*/
    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 20px;
    }

    /*POPULAIRES*/
    .populaires {
        order: -1;
        padding: 30px 20px;
        margin: 20px 0;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 10px;
    }

    .populaires-cards .card {
        margin: 0;
    }

    .populaires-cards a {
        width: 100%;
    }

    /*HEBERGEMENTS*/
    .hebergements {
        width: 100%;
        background-color: white;
    }

    .hebergements-cards a {
        width: 100%;
    }

    /*ACTIVITES*/
    .activites {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .activites-cards {
        flex-direction: column;
        gap: 10px;
    }

    .activites-cards .card img {
        height: 141px;
    }

    /*FOOTER*/
    footer {
        flex-direction: column;
        gap: 20px;
    }
    .footer-column {
        width: 100%;
    }
}
